* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
:root {
  --Color1: #9b9fa6;
  --Color2: #202125;
  --Color3: #548cff;

  --font1: "Montserrat", sans-serif;

  --breakpoint: 1160px;
}

/* || general info */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--Color2);
}

.centro-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  background: transparent;
  border: none;
  outline: none;
}
.container {
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--Color1);
  font-family: var(--font1);
  color: var(--Color1);
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}
/* || nav */
nav {
  border-bottom: 1px solid var(--Color1);
  display: grid;
  padding: 10px;
  place-items: center;
  position: relative;
}
/* || main */
main {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  gap: 5rem;
}

.sideBar {
  width: 19rem;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 5rem;
}

.sideBar__counter {
  position: absolute;
  top: 0px;
}

.sideBar__item {
  margin-bottom: 1.5rem;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.sideBar__item--active {
  border: 1px solid var(--Color3);
}

.sideBar__item i {
  color: var(--Color1);
  font-size: 1.3rem;
}

#item__exit {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 50%;
  cursor: pointer;
}

#item__exit:hover {
  opacity: 100%;
}

.newnote-btn {
  color: var(--Color1);
  font-size: 24px;
  gap: 5px;
  cursor: pointer;
}

.newnote-btn:hover {
  color: #fff;
}

.note {
  width: 100%;
}

.note__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 2.8rem;
}

.note__save {
  position: absolute;
  right: 1rem;
  color: var(--Color1);
  text-transform: uppercase;
  cursor: pointer;
}

.note__save:hover {
  color: #fff;
}

.note__name {
  font-family: var(--font1);
  color: var(--Color1);
  font-weight: bold;
  font-size: 20px;
}

.note__name::placeholder {
  font-family: var(--font1);
  color: var(--Color1);
  font-weight: bold;
  font-size: 12px;
}

.note__editor {
  height: 100%;
}

.ck {
  height: 30rem;
}

@media screen and (max-width: 1160px) {
  main {
    flex-direction: column;
  }

  .sideBar__item {
    width: 100%;
    height: 20rem;
  }
}
/* || footer */
footer {
  color: #fff;
  background-color: #222;
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  padding-right: 10px;
}

@media screen and (max-width: 1160px) {
  footer {
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 20px;
  }

  .footer-links {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    margin-bottom: 5px;
    border: none;
  }
}
